@import "mixins";

.wrapper {
    @include z-index(intro);

    position: fixed;
    inset: 0;
    background: var(--color-white);
    pointer-events: none;
    transition: opacity 0.5s var(--ease-custom);

    &.is-hidden {
        opacity: 0;
    }
}