@import "mixins";

.wrapper {
    @include flex;
    @include z-index(intro);

    position: fixed;
    inset: 0;
    background: var(--color-white);
    pointer-events: none;

    svg {
        @include breakpoint(desktop) {
            width: vw(220);
        }
    }
}