@import "mixins";

.wrapper {
    h3 {
        @include breakpoint(desktop) {
            margin-bottom: vw(12);
        }
    }

    li {
        @include flex(row, flex-start, center);

        border: var(--border-thin);
        width: fit-content;

        @include breakpoint(desktop) {
            height: vw(34);
            padding-inline: vw(13);
        }

        @include breakpoint(not-desktop) {
            padding: vw(12, phone);

            a {
                text-wrap: pretty;
            }
        }

        svg {
            @include breakpoint(desktop) {
                margin: 0 0 vw(-2) vw(8);
            }

            @include breakpoint(not-desktop) {
                margin: 0 0 vw(-3, phone) vw(6, phone);
            }
        }

        &:not(:last-child) {
            margin-bottom: vw(10);
        }
    }
}