@import 'mixins';

.list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;

    @include breakpoint(desktop) {
        gap: vw(17);
    }
}

.item-wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;

    @include breakpoint(desktop) {
        height: vw(245);
        max-width: 33%;
    }

    &:nth-child(4n) {
        min-width: 100%;

        @include breakpoint(desktop) {
            height: vw(500);
        }
    }

    @include hover {
        .item-image {
            transform: scale(1.05);
        }
    }
}

.item-image {
    position: absolute;
    inset: 0;
    transition: transform 0.3s var(--ease-custom);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.name-label, .image-label {
    @include flex;

    color: var(--color-white);
    z-index: 1;
    position: absolute;

    @include breakpoint(desktop) {
        left: vw(15);
        padding-inline: vw(15);
        height: vw(30);
        gap: vw(5);
    }

    svg {

        margin-top: 1px;

        path {
            fill: var(--color-white);
        }
    }
}

.name-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include breakpoint(desktop) {
        max-width: 80%;
        bottom: vw(15);
        padding-top: vw(5);
    }
}

.image-label {
    @include breakpoint(desktop) {
        top: vw(15);
    }
}

.showcase-label {
    background: var(--color-red);
}

.button {
    z-index: 1;
}