@import 'mixins';

.title {
    font-family: var(--font-primary);
    font-weight: 500;

    @include breakpoint(desktop) {
        margin-bottom: vw(25);
    }
}

.subtitle {
    display: inline-block;
    color: var(--color-grey-02);
    font-family: var(--font-primary);

    @include breakpoint(desktop) {
        margin-top: vw(20);
        width: vw(340);
    }
}