@import 'mixins';

.title {
    font-family: var(--font-primary);
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.3;

    strong {
        font-weight: 700 !important;
    }

    @include breakpoint(desktop) {
        margin-bottom: vw(10);
    }
}

.subtitle {
    display: inline-block;
    color: var(--color-grey-02);
    font-family: var(--font-primary);

    @include breakpoint(desktop) {
        margin-top: vw(10);
        width: vw(340);
    }
}