@import 'mixins';

.wrapper {
    height: calc(100vh - var(--header-height));
}

.text {
    margin-block: auto;

    @include breakpoint(desktop) {
        width: vw(670);
    }

    strong {
        color: var(--color-red);
        font-weight: 500;
    }
}

.image {
    position: absolute;
    pointer-events: none;
}

.buttons {
    @include flex(row, flex-start, center);

    @include breakpoint(desktop) {
        margin-top: vw(20);
        gap: vw(10);
    }
}