@import 'mixins';

.wrapper {
    position: relative;
    height: calc(90vh - var(--header-height));
    background: var(--color-white);
    z-index: 0;
    overflow: hidden;

    @include breakpoint(not-desktop) {
        height: calc(100svh - var(--header-height));
    }
}

.text {
    
    @include breakpoint(desktop) {
        margin-top: vw(200);
        width: vw(790);
    }

    @include breakpoint(not-desktop) {
        margin-top: vw(60, phone);

        > span {
            color: var(--color-grey-02);
        }
    }

    @include breakpoint(hd) {
        margin-top: vw(180);
    }

    strong {
        color: var(--color-red);
        font-weight: 500;
    }
}

.image {
    position: absolute;
    pointer-events: none;
    clip-path: inset(0 0 0 100%);
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: clip-path 1s var(--ease-out) 0.5s;

    :global(.is-loaded) & {
        clip-path: inset(0 0 0 0);
    }

    @include breakpoint(desktop) {
        inset: vw(150) 0 vw(100) vw(850);
    }
    
    @include breakpoint(not-desktop) {
        inset: vw(310, phone) 0 vw(20, phone) vw(110, phone);
    }

    img {
        width: 120% !important;
        height: 120% !important;
        object-position: 0% 50%;
        object-fit: cover
    }
}

.buttons {
    @include flex(row, flex-start, center);

    @include breakpoint(desktop) {
        margin-top: vw(20);
        gap: vw(10);
    }

    @include breakpoint(not-desktop) {
        margin-top: vw(10, phone);
        gap: vw(10, phone);
    }
}

.scroll {
    position: absolute;
    left: var(--base-inline-padding);

    @include breakpoint(desktop) {
        bottom: vw(100);
    }

    @include breakpoint(not-desktop) {
        bottom: vw(20, phone);
    }
}