@import 'mixins';

.wrapper {
    position: relative;
    height: calc(100vh - var(--header-height));
    z-index: 0;
}

.text {
    
    @include breakpoint(desktop) {
        margin-top: vw(230);
        width: vw(790);
    }

    @include breakpoint(hd) {
        margin-top: vw(160);
    }

    strong {
        color: var(--color-red);
        font-weight: 500;
    }
}

.image {
    position: absolute;
    pointer-events: none;

    @include breakpoint(desktop) {
        right: vw(-350);
        top: vw(260);
        width: vw(1330);
        height: vw(993);
    }

    @include breakpoint(hd) {
        top: vw(170);
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.buttons {
    @include flex(row, flex-start, center);

    @include breakpoint(desktop) {
        margin-top: vw(20);
        gap: vw(10);
    }
}

.scroll {
    position: absolute;

    @include breakpoint(desktop) {
        bottom: vw(30);
        left: var(--base-inline-padding);
    }
}