@import 'mixins';

.wrapper {
    @include flex(row, flex-start, center);

    color: var(--color-black);
    border: var(--border-thick);

    svg {
        @include breakpoint(desktop) {
            margin-right: vw(7);
        }

        @include breakpoint(not-desktop) {
            margin-top: vw(4, phone);
        }
    }

    @include breakpoint(desktop) {
        height: vw(30);
        padding-inline: vw(10);
        margin-block: vw(27);
    }
    
    @include breakpoint(not-desktop) {
        align-items: flex-start;
        height: auto;
        padding: vw(5, phone) vw(10, phone) vw(5, phone);
        margin-block: vw(27, phone);
        gap: vw(10, phone);
    }
}