@import "mixins";

.margin-top-bottom {
    @include breakpoint(desktop) {
        margin-block: vw(150) vw(30);
    }
}

.margin-bottom {
    @include breakpoint(desktop) {
        margin-bottom: vw(30);
    }
}

.documents {
    @include breakpoint(desktop) {
        position: absolute;
        left: var(--base-inline-padding);
        bottom: var(--base-inline-padding);
    }

    @include breakpoint(not-desktop) {
        @include flex(column, flex-start, flex-start);

        gap: vw(10, phone);
        margin-top: vw(50, phone);
    }
}


.calc-base {
    position: relative;
    z-index: 3;
}


.calc-toll {
    position: relative;
    z-index: 2;
}


.calc-bonus {
    position: relative;
    z-index: 1;
}