:root {
    --app-height: 100svh;
	--vw-value: 100vw;
    --base-grid: 610fr 710fr 350fr;
	--base-inline-padding: #{vw(90)};
	--base-block-padding: #{vw(90)};

	// Colors
	--color-black: #000;
	--color-grey-01: #B2B2B2;
	--color-grey-02: #5A5A5A;
	--color-white: #fff;
    --color-red: #E71D36;

	--color-bg: var(--color-white);

	// Transitions
	--transition: #{$time $ease-custom};
	--transition-fast: #{$time-fast $ease-custom};
	--transition-fast-delay: #{$time-fast $ease-custom $time-fast};
	--ease-in: #{$ease-in};
	--ease-out: #{$ease-out};
	--ease-in-out: #{$ease-in-out};
	--ease-out-back: #{$ease-out-back};
	--ease-custom: #{$ease-custom};

	// Fixed values
	--header-height: #{vw(100)};
	--sidebar-width: #{vw(400)};
	--sidebar-padding: #{vw(13)};
	--modal-width: #{vw(320)};
	--modal-width-big: #{vw(567)};
}


html {
	@include breakpoint(desktop) {
		font-size: vw($browser-context);
	}

	@include breakpoint(tablet) {
		font-size: vw($browser-context, tablet);
	}

	@include breakpoint(phone) {
		font-size: vw($browser-context, phone);
	}

}

html,
body {
	@extend %no-scrollbar;

	font-family: var(--font-primary);
	font-weight: 400;
	overscroll-behavior: none;
	background-color: var(--color-bg);
}

main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
