.sr-only {
	width: 1px;
	height: 1px;
	position: absolute;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: none;
}

%no-scrollbar {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.is-scrolling-disabled {
	overflow: hidden;
}

.module-wrapper {
	display: grid;
	grid-template-columns: var(--base-grid);
	padding-inline: var(--base-inline-padding);
}

.lines-overflow-wrapper {
	overflow: hidden;
}

.padding-block {
	padding-block: var(--base-block-padding);
}	

.loader-centered {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.full {
	@include full();
}

#tooltips {
	@include z-index(tooltips, $elements);

	pointer-events: none;
}
