// icon: (desktop, tablet, phone);
$svg-icons: (
	phone: (14, 14, 14),
	logo: (150, 118, 98),
	otomoto: (16, 16, 16),
	whatsapp: (16, 16, 16),
	instagram: (16, 16, 16),
	facebook: (15, 15, 15),
	arrowUp: (22, 22, 16),
	picture: (12, 12, 9),
	mail: (16, 16, 16),
	warning: (16, 16, 32),
	chevron: (12, 12, 12),
	download: (18, 18, 18),
	dhl: (240, 240, 240),
	close: (15, 15, 15),
	hamburger: (17, 18, 18)
);


@each $svg-name, $values in $svg-icons {
	$desktop: nth($values, 1);
	$tablet: nth($values, 2);
	$phone: nth($values, 3);

	.svg-#{$svg-name} {
		height: auto;
		display: inline-block;

		@include breakpoint(desktop) {
			width: vw($desktop);
		}

		@include breakpoint(hd) {
			width: vw($desktop * $hd-scaling-factor);
		}

		@include breakpoint(tablet) {
			width: vw($tablet, tablet);
		}

		@include breakpoint(phone) {
			width: vw($phone, phone);
		}
	}
}

.svg-otomoto {
	path {
		fill: revert-layer !important;
	}
}