@import 'mixins';

.wrapper {
    @include flex(row, space-between, center);
    @include z-index(header, $elements);

    position: fixed;
    right: var(--base-inline-padding);
    border: var(--border-thick);
    background: var(--color-white);
    transition: opacity 0.5s var(--ease-custom);

    @include breakpoint(desktop) {
        bottom: vw(30);
        width: vw(116);
        height: vw(34);
        padding-top: vw(3);
        padding-inline: vw(15);
    }

    @include breakpoint(hd) {
        bottom: vw(30 * $hd-scaling-factor);
        width: vw(116 * $hd-scaling-factor);
        height: vw(34 * $hd-scaling-factor);
        padding-top: vw(3 * $hd-scaling-factor);
        padding-inline: vw(15 * $hd-scaling-factor);
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}
