@import 'mixins';
@import 'variables/transitions';

$fill-size: vw(12);
$fill-size-mobile: vw(12, phone);

@keyframes scrollMobile {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    40% {
        opacity: 1;
        top: vw(2, phone);
    }

    90% {
        top: calc(100% - $fill-size-mobile - vw(2, phone));
    }

    100% {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    60% {
        opacity: 1;
        top: vw(2);
    }

    90% {
        top: calc(100% - $fill-size - vw(2));
    }

    100% {
        opacity: 0;
    }
}

.wrapper {
    @include breakpoint(desktop) {
        width: vw(100);
        height: vw(65);
    }

    @include breakpoint(not-desktop) {
        width: vw(100, phone);
        height: vw(65, phone);
    }

    @include breakpoint(hd) {
        width: vw(100 * $hd-scaling-factor);
        height: vw(65 * $hd-scaling-factor);
    }
}

.bar {
    position: relative;
    display: block;
    border: var(--border-thick);
    overflow: hidden;

    @include breakpoint(desktop) {
        width: vw(16);
        height: vw(61);
        border-radius: vw(8);
    }

    @include breakpoint(not-desktop) {
        width: vw(16, phone);
        height: vw(61, phone);
        border-radius: vw(8, phone);
    }

    @include breakpoint(hd) {
        width: vw(16 * $hd-scaling-factor);
        height: vw(61 * $hd-scaling-factor);
        border-radius: vw(8 * $hd-scaling-factor);
    }
}

.text {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-family: var(--font-primary);

    @include breakpoint(desktop) {
        left: vw(21);
    }

    @include breakpoint(not-desktop) {
        left: vw(21, phone);
    }

    @include breakpoint(hd) {
        left: vw(21 * $hd-scaling-factor);
    }
}

.fill {
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: var(--color-red);
    
    @include breakpoint(desktop) {
        top: vw(2);
        width: $fill-size;
        height: $fill-size;
        animation: scroll 2s infinite $ease-custom;
    }
    
    @include breakpoint(not-desktop) {
        top: vw(2, phone);
        width: $fill-size-mobile;
        height: $fill-size-mobile;
        animation: scrollMobile 2s infinite $ease-custom;
    }

    @include breakpoint(hd) {
        top: vw(2 * $hd-scaling-factor);
        width: $fill-size * $hd-scaling-factor;
        height: $fill-size * $hd-scaling-factor;
    }
}