@import "mixins";

.wrapper {
    width: 100%;

    @include breakpoint(not-desktop) {
        margin-block: vw(40, phone);
    }
}

.row {
    --accent-offset: #{vw(20)};

    @include flex(row, space-between, center);

    position: relative;
    border-bottom: 1px solid var(--color-grey-03);

    strong {
        color: var(--color-red);
        font-weight: 500;
    }

    @include breakpoint(desktop) {
        padding-block: vw(25);
    }

    @include breakpoint(not-desktop) {
        padding-block: vw(20, phone);
    }

    &:first-child {
        padding-top: 0;
    }

    &:has(+ .is-accent) {
        border-bottom: none;
    }
    
    &.is-accent, &.is-outline {
        background: var(--color-red);
        border-bottom: none;
        color: var(--color-white);

        @include breakpoint(desktop) {
            margin-left: calc(-1 * var(--accent-offset));
            height: vw(68);
            padding-inline: var(--accent-offset);
            width: calc(100% + 2 * var(--accent-offset));
        }
        
        @include breakpoint(not-desktop) {
            padding-inline: vw(16, phone);
            border-radius: 0;

            .label {
                width: 50%;
            }
        }
    }

    &.is-accent {
        @include breakpoint(not-desktop) {
            &:has(p) {
                margin-bottom: vw(150, phone);
            }
        }
    }

    &.is-outline {
        background: var(--color-white);
        border: var(--border-thick);
        color: var(--color-black);
    }
}

.label {
    @include breakpoint(desktop) {
        width: vw(390);
    }

    @include breakpoint(not-desktop) {
        width: 60%;
        margin-right: vw(20, phone);
    }
}

.value-caption {
    @include breakpoint(desktop) {
        inset: auto var(--accent-offset) vw(-32) var(--accent-offset);
    }

    @include breakpoint(not-desktop) {
        position: absolute;
        inset: auto 0 0;
        transform: translateY(calc(100% + vw(6, phone)));
    }
}

.no-choice {
    @include breakpoint(desktop) {
        margin-right: vw(66);
    }
}