@import "mixins";

.wrapper {
    position: relative;

    /* &:after {
        position: absolute;
        content: '';
        height: 1px;
        background: var(--color-grey-02);
        top: 0;
        inset-inline: var(--base-inline-padding);
    } */
}

.disclaimers {
    color: var(--color-grey-01);
    
    @include breakpoint(desktop) {
        position: absolute;
        left: var(--base-block-padding);
        bottom: var(--base-block-padding);
        width: vw(370);
        white-space: nowrap;
    }

    @include breakpoint(not-desktop) {
        margin: vw(50, phone) auto 0;
        text-align: center;
        width: 70%;
    }
}