.wrapper {
    position: relative;

    /* &:after {
        position: absolute;
        content: '';
        height: 1px;
        background: var(--color-grey-02);
        top: 0;
        inset-inline: var(--base-inline-padding);
    } */
}

.disclaimers {
    position: absolute;
    left: var(--base-block-padding);
    bottom: var(--base-block-padding);
    color: var(--color-grey-01);
}