@import "mixins";

.dropdown {
    position: relative;
    z-index: 1;
}

.button {
    @include breakpoint(desktop) {
        margin-top: vw(20);
    }
}

.currencies {
    position: fixed;
    
    @include breakpoint(desktop) {
        top: calc(var(--header-height) + var(--base-inline-padding));
        right: var(--base-inline-padding);
    }
}