@import 'mixins';

.wrapper {
    position: relative;
    background: var(--color-white);
    font-family: var(--font-secondary);


    @include breakpoint(desktop) {
        padding-top: vw(50);
        min-height: vw(280);
    }


    /* &:before {
        content: '';
        position: absolute;
        inset: 0 var(--base-inline-padding) auto var(--base-inline-padding);
        height: 1px;
        background: var(--color-grey-01);
    } */
}

.info {

    @include breakpoint(not-desktop) {
        margin-top: vw(20, phone);
        padding-top: vw(30, phone);
        border-top: var(--border-thin);
        border-color: var(--color-grey-01);
    }

    @include breakpoint(tablet) {
        margin-top: vw(20, tablet);
        padding-top: vw(30, tablet);
    }

    .logo {
        @include breakpoint(desktop) {
            margin-bottom: vw(10);
        }
        
        @include breakpoint(not-desktop) {
            margin-bottom: vw(10, phone);
        }

        @include breakpoint(tablet) {
            margin-bottom: 0;
        }
    }
}

.contact-items {
    @include flex(column, flex-start, flex-start);

    @include breakpoint(desktop) {
        gap: vw(25);
    }

    @include breakpoint(not-desktop) {
        margin-block: vw(20, phone);
        gap: vw(10, phone);
    }

    @include breakpoint(tablet) {
        margin-block: vw(30, tablet);
        gap: vw(10, tablet);
    }
}

.contact-item {
    @include flex(column, flex-start, flex-start);

    @include breakpoint(desktop) {
        gap: vw(1);
    }

    @include breakpoint(tablet) {
        gap: vw(2, tablet);
    }

    h4 {
        font-weight: 600;
        letter-spacing: -0.05em;
    }

    svg {

        @include breakpoint(desktop) {
            margin: 0 0 vw(-2) vw(5);
        }

        path {
            fill: var(--color-grey-01);
        }
    }
}

.button {
    margin-left: auto;
}

.email-widget {
    position: absolute;

    @include breakpoint(desktop) {
        top: vw(30);
        right: var(--base-inline-padding);
    }
}