@import 'mixins';
@import 'variables/transitions';

.wrapper {
    @include flex;

    position: relative;
    transition: opacity 0.3s $ease-custom;

    @include breakpoint(desktop) {
        padding-inline: vw(15);
    }
    
    @include breakpoint(hd) {
        padding-inline: vw(10);
    }

    @include hover {
        opacity: 0.8;
    }

    &.is-small {
        @include breakpoint(desktop) {
            height: vw(34);
            min-width: vw(120);
        }
        
        @include breakpoint(hd) {
            height: vw(34 * $hd-scaling-factor);
            min-width: vw(120 * $hd-scaling-factor);
        }
    }
    
    &.is-big {
        @include breakpoint(desktop) {
            height: vw(60);
            min-width: vw(265);
            width: fit-content;
        }

        @include breakpoint(hd) {
            height: vw(60 * $hd-scaling-factor);
            min-width: vw(265 * $hd-scaling-factor);
        }
    }
    
    &.is-dark {
        background: var(--color-black);
        color: var(--color-white);
    
        svg {
            path {
                fill: var(--color-white);
            }
        }
    }
    
    &.is-light {
        background: var(--color-white);
        color: var(--color-black);
    
        svg {
            path {
                fill: var(--color-black);
            }
        }
    }
    
    &.is-accent {
        background: var(--color-red);
        color: var(--color-white);
    
        svg {
            path {
                stroke: var(--color-white) !important;
                fill: var(--color-white);
            }
        }
    }
    
    &.is-outline {
        background: transparent;
        border: var(--border-thick);
        color: var(--color-black);
    
        svg {
            path {
                fill: var(--color-black);
            }
        }
    }
    
    &.is-disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    
    &.is-not-interactive {
        pointer-events: none;
    }

}


.text {
    font-family: var(--font-primary);
}

.icon {
    @include breakpoint(desktop) {
        margin-left: vw(7);
    }
}

.disclaimer {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: var(--color-grey-01);
    
    @include breakpoint(desktop) {
        transform: translate(-50%, calc(100% + vw(8)));
        width: 80%;
        line-height: 1.2;
    }
}