@import 'mixins';

.wrapper {
    position: relative;
    background: var(--color-white);
    z-index: 1;

    strong {
        color: var(--color-red);
    }
}

.button {
    margin-left: auto;
}

.is-dark {
    background: var(--color-grey-04);
}

.image-item {
    @include breakpoint(desktop) {
        margin-block: vw(35);
    }
}

.image {
    position: relative !important;
    object-fit: cover;
    overflow: hidden;

    @include breakpoint(desktop) {
        height: vw(500) !important;
    }
}

.caption {
    color: var(--color-grey-02);
}