@import 'mixins';

.wrapper {
    @include flex(column, flex-start, flex-start);

    li {
        @include flex(column, flex-start, flex-start);
        
        &:not(:last-child) {
            // border-right: 1px solid var(--color-grey-01);

            @include breakpoint(desktop) {
                margin-right: vw(30);
                margin-bottom: vw(30);
            }
        }
    }
}

.value {
    color: var(--color-red);
    text-align: center;
    font-weight: 700;
    display: inline-block;
}