@import 'mixins';
@import 'variables/transitions';

.wrapper {
    @include z-index(header, $elements);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    padding-inline: var(--base-inline-padding);
    transition: transform 0.5s var(--ease-custom);
    height: var(--header-height);
    
    @include breakpoint(desktop) {
        display: grid;
        grid-template-columns: var(--base-grid);
    }

    @include breakpoint(not-desktop) {
        @include flex(row, space-between, center);
    }

    &.is-hidden {
        @include breakpoint(desktop) {
            transform: translateY(-100%);
        }
    }
}


.logo {
    @include flex(row, flex-start, center);
}


.nav {
    @include flex;

    ul {
        @include flex(row, space-between, center);
        width: 100%;
    }
}


.aside-nav {
    @include flex(row, flex-end, center);
}


.hamburger {
    @include breakpoint(not-desktop) {

        min-width: unset !important;
        padding: vw(7, phone) vw(10, phone) vw(5, phone);
        transition: border-color 0.3s var(--ease-custom);

        * { pointer-events: none; }

        :global(.svg-close) {
            margin-bottom: vw(-2, phone);
        }

        &.is-menu-open {
            border-color: transparent !important;
        }
    }

    @include breakpoint(tablet) {
        padding: vw(7, tablet) vw(10, tablet) vw(5, tablet);
    }
}