@import 'mixins';
@import 'variables/transitions';

.wrapper {
    @include z-index(header, $elements);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-white);
    display: grid;
    grid-template-columns: var(--base-grid);
    padding-inline: var(--base-inline-padding);
    transition: transform 0.5s var(--ease-custom);

    @include breakpoint(desktop) {
        height: var(--header-height);
    }

    &.is-hidden {
        transform: translateY(-100%);
    }
}

.logo {
    @include flex(row, flex-start, center);
}

.nav {
    @include flex;

    ul {
        @include flex(row, space-between, center);
        width: 100%;
    }
}

.aside-nav {
    @include flex(row, flex-end, center);
}